{% extends 'base.html '%}
{% block title %}#{{tag.name}}{% endblock %}
{% load staticfiles %}
{% block extrastyle %}{% static 'css/tag_list.css '%}{% endblock %}
{% block content %}
<header>
    <div>
        <div>
					<span>{{ user }} |</span>
					<span>
							<a href="{% url 'blog:blog_detail' user %}">My Blog |</a>

                    </span>
                    <span><a href="{% url 'password_change' %}">Password Change |</a></span>
                    <span><a href="{% url 'logout' %}"> Logout</a></span>

        </div>
    </div>
</header>
<section>
    <article>
        <h2>#{{tag.name}}<a href="{% url 'blog:tag_cloud' %}">[TAG CLOUD]</a></h2>
        <table>
            {% for object in object_list %}
            <tr>
                <td>
                    <a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
                </td>
                <td>
                    {{ object.user }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </article>
</section>
<footer>

</footer>

{% endblock %}