
		h1{
			width:100px;
			height:50px;
			font-size:50px;
			margin-left:2%;
			margin-top:1%;
		}
		h1 a{
			color:#eab9a8;
			font-weight: 300;
		}
		a{
			text-decoration: none;
		}
		form{
			width:400px;
			height:270px;
			position: absolute;
			top:0;
			bottom:0;
			left:0;
			right: 0;
			margin:auto;
		}
		form table{
			width:90%;
			height:100%;
			margin:0 auto;

		}
		form input, button{
			width:380px;
			height:50px;
			border:1px solid #eab9a8;
		}
		button{
			border:none;
			background-color: #eab9a8;
			color:#fff;
			width: 382px;
			font-size:20px;
			cursor: pointer;
		}
		td > span {
			font-size:30px;
			font-weight: 300px;
			color:#eab9a8;
		}
		input::-webkit-input-placeholder {
		    color: #eab9a8;
		    font-weight: 300;
		    font-size:15px;
		  }

		 .register-form {
		    height:420px;
		 }