*{
    font-weight:300;
}
#inner-wrap{
			width:60%;
			height:100%;
			margin:0 auto;
		}
		a{
			text-decoration: none;
			color:#000;
		}
		a:visited,a:link{
		    color:#000;
		}
		/*----header----*/
		header{
			width:100%;
			height:25%;
		}
		header span {
			display:inline-block;
			width:70px;
			height:40px;
			margin-left:90%;
			margin-top:2%;
			color:#eab9a8;
		}
		header h1{
			text-align: center;
			font-size:55px;
			font-weight:100;
		}
		header h1 a{
		font-weight:100;
		}
		header nav {
			width:100%;
			height:15%;
			margin-top:5%;
            font-weight:300;
		}
		nav > ul{
			width:100%;
			height:100%;
			background-color:#f8f8fa;
			border-radius: 5px;
		}
		nav> ul>li {
			float:left;
			width:15%;
			text-align: center;
			line-height: 40px;
			border-right:1px dashed #eeeef2;
			position:relative;

		}
		.dropdown {
			width:100%;
			height:0px;
			clear:both;
			overflow: hidden;
			position:absolute;
		}
		.dropdown li{
			width:100%;
			height:40px;
			border:none;
			font-weight: 300;
			color:#b7bdb9;
		}
		li:hover .dropdown{
			height:80px;
			transition: 0.5s;
		}
		/*----content----*/
		section{
			width:100%;
			height:65%;
		}

		/*----footer----*/
		footer{
			width:100%;
			height:5%;
		}