@import 'blog_base.css';

		article{
			width:60%;
			height:100%;
			margin-right:4%;
			float:left;
		}
		aside{
			width:30%;
			height:100%;
			float:right;
			border: 1px solid #eee;
		}
		.profile{
			width:100%;
			height:70%;
		}
		#user-name{
			width:100%;
			height:20%;
			text-align: center;
  			line-height: 80px;
  			font-size:25px;
  			font-weight: 300;
  			color:#b7bdb9;
		}
		#user-image{
			width:60%;
			height:45%;
			border-radius: 100%;
			overflow:hidden;
			margin:0 auto;
		}
		#user-image img{
			width:100%;
			height:100%;
			margin:0 auto;
		}
		#blog-description{
			width:100%;
			height:20%;
		}
		#blog-description p{
			margin-top:10%;
			text-align: center;
			font-size:19px;
		}
		#etc {
			width:100%;
			height:30%;
			overflow: auto;
			background-color:#fcfcfc;
			border-top:1px solid #eee;
		}
		#etc ul {
			width:80%;
			height:60%;
			margin:0 auto;
			margin-top:10%;
		}
		#etc ul li{
			margin-top:5%;
			width:100%;
			height:40%;
		}
		#etc ul li a{
			display: inline-block;
			width:100%;
			height:100%;
			text-align: center;
			line-height:50px;
			font-weight: 300;
			color:#b7bdb9;
		}
		#etc ul li:first-child a{
			background-color:#fff;
		}
		#etc ul li:last-child a{
			background-color:#eab9a8;
			color:#fff;
}