@import 'blog_base.css';
article{
			width:100%;
			height:100%;
			margin:0 auto;
		}
		form{
			width:100%;
			height:100%;
		}
		table{
			width:100%;
			height:100%;
		}
		table tr:nth-child(2){
			height:400px;
		}
		table textarea{
			width:100%;
			height:100%;
			font-weight: 300;
			border:none;
			font-size:20px;
		}
		table input[type="text"]{
			width:95%;
			height:100%;
			border:none;
			font-weight: 300;
			font-size:20px;
		}
		table input[type="submit"]{
			width:100px;
			height:40px;
			border:none;
			background-color:#eab9a8;
			border-radius: 20px;
			color:#fff;
			font-weight: 300;
			cursor:pointer;
			float:right;

		}
		td{
			font-size:20px;
			font-weight: 300;
		}
		input:focus,textarea:focus{
			outline: none;
		}
		label{display: inline-block; padding: .5em .75em; color: #999; font-size: 15px; line-height: normal; vertical-align: middle; background-color: #fdfdfd; cursor: pointer; border: 1px solid #ebebeb; border-bottom-color: #e2e2e2; border-radius: .25em; font-weight: 300;}
		input[type="file"] { /* 파일 필드 숨기기 */ position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }