{% extends 'base.html' %}
{% block title %}{{ object.name }}{% endblock %}
{% load staticfiles %}
{% block extrastyle %}{% static 'css/blog-detail.css' %}{% endblock %}
{% block content %}
<div id="inner-wrap">
    <header>
        <span><a href="{% url 'blog:index' %}">Home</a></span>
        <h1>{{ object.name }}</h1>
        <nav>
            <ul>
                <li><a href="{% url 'blog:post_list' object.slug %}">Content</a></li>
                <li>Category
                    <ul class="dropdown">
                        {% for category in categorys %}
                        <li><a href="{% url 'blog:post_list_category' slug=object.slug pk=category.id %}">{{ category.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="{% url 'blog:search' object.slug %}">Search</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <article>

        </article>
        <aside>
            <div class="profile">
                <div id="user-name">{{ object.user }}</div>
                <div id="user-image"><img src="{{ object.image.url }}" alt=""></div>
                <div id="blog-description">
                    <p>{{ object.description }}</p>
                </div>
            </div>
            <div id="etc">
                <ul>
                    <li>
                        <a href="">Follwer {{ follower }} | Follow {{ follow }}</a></li>
                    <li>
                        {% if object.user == user %}
                            <a href="{% url 'blog:post_create' object.slug %}">Create Post</a>
                        {% else %}
                            {% if buddy %}
                                <a href="#">My buddy</a>
                            {% else %}
                                <form action="{% url 'blog:follow' object.slug %}" method="post">{% csrf_token %}
                                    <button type="submit">buddy Add</button>
                                </form>
                            {% endif %}
                        {% endif %}
                    </li>
                </ul>
            </div>
        </aside>
    </section>
    <footer>

    </footer>
</div>
{% endblock %}