{% extends 'base.html' %}
{% block title %}{{ blog }}{% endblock %}
{% load staticfiles %}
{% block extrastyle %}{% static 'css/form_base.css' %}{% endblock %}
{% block content %}
{% if user == blog.user %}
<div id="inner-wrap">
    <header>
        <span><a href="{% url 'blog:index' %}">Home</a></span>
        <h1><a href="{% url 'blog:blog_detail' blog.slug %}">{{ blog.name }}</a></h1>
        <nav>
            <ul>
                <li><a href="{% url 'blog:post_list' blog.slug %}">Content</a></li>
                <li>Category
                </li>
                <li><a href="{% url 'blog:search' blog.slug %}">Search</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <article>
           <h2>Category Create</h2>
		 			<form action="." method="post"> {% csrf_token %}
                          {% if form.errors %}
            <script>
                alert("입력 오류가 발생했습니다. 다시 입력해 주십시오");
            </script>
                        {% endif %}
			 			<table>
								<tr>
									<td><input type="text" placeholder="TITLE" name="title"></td>
									<td><input type="submit" value="CREATE"></td>
								</tr>
			 			</table>
		 			</form>
        </article>
    </section>
    <footer>

    </footer>
</div>
{% else %}
<script> alert("잘못된 요청입니다."); history.back();
</script>
{% endif %}
{% endblock %}
