{% extends 'base.html' %}
{% block title %}{{ blog }}{% endblock %}
{% load staticfiles %}
{% block extrastyle %}{% static 'css/post_form.css' %}{% endblock %}
{% block content %}
{% if user == blog.user %}
<div id="inner-wrap">
    <header>
        <span><a href="{% url 'blog:index' %}">Home</a></span>
        <h1><a href="{% url 'blog:blog_detail' blog.slug %}">{{ blog.name }}</a></h1>
        <nav>
            <ul>
                <li><a href="{% url 'blog:post_list' blog.slug %}">Content</a></li>
                <li>Category</li>
                <li><a href="{% url 'blog:search' blog.slug %}">Search</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <article>
            <form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
				{% if form.errors %}
					<script>alert("오류가 발생했습니다.");</script>
				{% endif %}
		 				<table>
		 				<tr>
		 					<td>
								{% if object %}
									<input id="id_title" maxlength="30" name="title" type="text" placeholder="TITLE" required value="{{ object.title }}"/></td>
								{% else %}
									<input id="id_title" maxlength="30" name="title" type="text" placeholder="TITLE" required /></td>
								{% endif %}
		 				</tr>
		 				<tr>
		 					<td>
								{% if object %}
								<textarea name="content" id="id_content" cols="30" rows="10" placeholder="CONTENT" style="resize: none" required>{{ object.content }}</textarea></td>
								{% else %}
								<textarea name="content" id="id_content" cols="30" rows="10" placeholder="CONTENT" style="resize: none" required></textarea></td>
								{% endif %}

		 				</tr>
		 				<tr>
		 					<td>
								tag :
								{% if object %}
								{% else %}
								{% endif %}<input id="id_tag" maxlength="255" name="tag" type="text" value="{{ object.tag }}"/></td>
		 				</tr>
		 				<tr>
		 					<td><label for="id_image">IMAGE</label><input id="id_image" name="image" type="file" /></td>
		 				</tr>
		 				<tr>
		 					<td>CATEGORY :
		 					<select id="id_category" name="category" class="i-can-add-my-own-attrs-now">
                                {% for id, name in form.category.field.choices %}
                                    <option value="{{ id }}">{{ name }}</option>
                                {% endfor %}
							</select>
								&nbsp;<a href="{% url 'blog:category_create' blog.slug %}">Category Create</a>
						</td>
		 				</tr>
		 				<tr>
		 					<td>
								{% if object %}
								<input type="submit" value="Update">
								{% else %}
								<input type="submit" value="Create">
								{% endif %}
							</td>
		 				</tr>
		 			</table>
            </form>
        </article>
    </section>
    <footer>

    </footer>
</div>
{% else %}
<script> alert("잘못된 요청입니다."); history.back();
</script>
{% endif %}
{% endblock %}
