{% extends 'base.html' %}
{% block title %}{{ blog }}{% endblock %}
{% load staticfiles %}
{% block extrastyle %}{% static 'css/done.css'%}{% endblock %}
{% block content %}
{% if user == blog.user %}
<h1><a href="{% url 'blog:index' %}">Olive</a></h1>
		<div id="Thank">
            <form action="." method="post"> {% csrf_token %}
			<p>{{ object }} Delete?</p>
			<p><button type="submit">Delete</button></p>
            </form>
		</div>
{% else %}
<script> alert("잘못된 요청입니다."); history.back();
</script>
{% endif %}
{% endblock %}
