{% extends 'base.html' %}
{% block title %}{{ blog.name }}{% endblock %}
{% load staticfiles %}
{% block extrastyle %}{% static 'css/post_list.css' %}{% endblock %}
{% block content %}
<div id="inner-wrap">
    <header>
        <span><a href="{% url 'blog:index' %}">Home</a></span>
        <h1><a href="{% url 'blog:blog_detail' blog.slug %}">{{ blog.name }}</a></h1>
        <nav>
            <ul>
                <li><a href="{% url 'blog:post_list' blog.slug %}">Content</a></li>
                <li>Category
                    <ul class="dropdown">
                        {% for category in categorys %}
                        <li><a href="{% url 'blog:post_list_category' slug=blog.slug pk=category.id %}">{{ category.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <a href="{% url 'blog:search' blog.slug %}">Search</a>
                </li>
            </ul>
        </nav>
    </header>
    <section>
        <article>
            <table>
                {% for object in object_list %}
                <tr>
                    <td><a href="{% url 'blog:post_detail' slug=blog.slug pk=object.id %}">{{ object.title }}</a></td>
                    <td>{{ object.create_date|date:'y-m-d' }}</td>
                </tr>
                {% endfor %}
            </table>
            <p>
                {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">PreviousPage</a>
                {% endif %}
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">NextPage</a>
                {% endif %}
            </p>

        </article>
    </section>
    <footer>

    </footer>
</div>
{% endblock %}
