{% extends 'base.html' %}
{% block title %}{{ blog }}{% endblock %}
{% load staticfiles %}
{% block extrastyle %}{% static 'css/blog_base.css' %}{% endblock %}
{% block content %}
<div id="inner-wrap">
    <header>
        <span><a href="{% url 'blog:index' %}">Home</a></span>
        <h1><a href="{% url 'blog:blog_detail' blog.slug %}">{{ blog.name }}</a></h1>
        <nav>
            <ul>
                <li><a href="{% url 'blog:post_list' blog.slug %}">Content</a></li>
                <li>Category</li>
                <li>Tag</li>
            </ul>
        </nav>
    </header>
    <section>
        <article>
            {{ object.title }} <br>
            {{ object.user }} | {{ object.create_date|date:'y-m-d Ag' }}| {{ object.modify_date|date:'y-m-d Ag' }} <br>
            {{ object.content }}
            <div>
                TAG:
                {% load tagging_tags %}
                {% tags_for_object object as tags %}
                {% for tag in tags %}
                    <a href="{% url 'blog:tagged_object_list' slug=blog.slug tag=tag.name %}">{{ tag.name }}</a>
                {% endfor %}
            </div>
            <hr>
            <a href="{% url 'blog:post_delete' slug=blog.slug pk=object.id %}">delete</a> <a href="{% url 'blog:post_update' slug=blog.slug pk=object.id %}">update</a>
        </article>
    </section>
    <footer>

    </footer>
</div>
{% endblock %}
