<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/blog_base.css' %}">
    <link rel="stylesheet" href="{% block extrastyle %}{% endblock %}">

</head>
<body>
<div id="wrap">
    {% block content %}

    {% endblock %}
</div>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="{% static 'js/common.js' %}"></script>