{% extends 'base.html' %}
{% block title %}PASSWORD CHANGE{% endblock %}
{% load staticfiles %}
{% block extrastyle %}{% static 'css/login.css' %}{% endblock %}
{% block content %}
<h1><a href="">Olive</a></h1>
		<form action="." method="post">{% csrf_token %}
            {% if form.errors %}
            <script>
                alert("입력에 오류가 발생했습니다. 다시 입력해 주세요");
            </script>
            {% endif %}
			<table>
				<tr>
					<td>
						<span>PASSWORD CHANGE</span>
					</td>
				</tr>
				<tr>
					<td><input type="password" placeholder="OLD PASSWORD"></td>
				</tr>
				<tr>
					<td><input type="password" placeholder="PASSWORD"></td>
				</tr>
				<tr>
					<td><input type="password" placeholder="CONFTIRM PASSWORD"></td>
				</tr>
				<tr>
					<td><button type="submit">PASSWORD CHANGE</button></td>
				</tr>
			</table>
		</form>
{% endblock %}